" options

let mapleader = " "
let localmapleader = " "

set clipboard=ideaput
set gdefault
set hlsearch
set ignorecase
set incsearch
set smartcase
" set timeoutlen=5000
set notimeout

set scrolloff=8

set relativenumber
set cursorline

set ideajoin
set ideamarks
set ideawrite=file

" plugin set
let g:NERDTreeMapJumpNextSibling = "<c-s-j>"
let g:NERDTreeMapJumpPrevSibling = "<c-s-k>"
let g:NERDTreeMapToggleZoom = 'z'
let g:NERDTreeMapNewFile = 'a'
let g:NERDTreeMapNewDir = 'A'

" plugin

set commentary " keymap: gc
set highlightedyank
" just keep english in normal node, because restoring im in insert mode in this plugin is shit
set keep-english-in-normal
set NERDTree

" keymaps

" built-in hack (because ideavim default not work)
nmap ]m <Action>(MethodDown)
nmap [m <Action>(MethodUp)
map gx gd

nmap <leader>vr :action IdeaVim.ReloadVimRc.reload<cr>:nohlsearch<cr>

" esc
nmap <esc> :nohlsearch<cr>

" track action
nmap <leader>vt :set trackactionids<cr>
nmap <leader>vT :set notrackactionids<cr>

" tab & buffer
nmap [b gT
nmap ]b gt
 " not use tabclose, it will just close tab and leave an empty window
nmap <leader>bd :bdelete<cr>
nmap <leader>bo :tabonly<cr>
nmap <leader>bl <Action>(CloseAllToTheLeft)
nmap <leader>br <Action>(CloseAllToTheRight)
nmap <leader>bp <Action>(PinActiveTabToggle)

" code
map gra <Action>(ShowIntentionActions)
map <leader>co <Action>(OptimizeImports)
map <leader>f <Action>(ReformatCode)
map <leader>cg <Action>(Generate)
nmap gO <Action>(FileStructurePopup)
nmap gri <Action>(GotoImplementation)
" IdeaVim in IDEA default bind gd to GotoDeclaration
" Because java does not have definition, it's just ok
nmap grr <Action>(ShowUsages)
nmap gs <Action>(GotoSuperMethod)
nmap grt <Action>(GotoTypeDeclaration)
nmap grn <Action>(RenameElement)
nmap K <Action>(ShowHoverInfo)
nmap [d <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)
nmap <C-w>d <Action>(ShowErrorDescription)
 " Use this wierd map to make <c-e> to close popup window
inoremap <c-e> `<bs>
"imap <c-e> <Action>(PopupMenu-cancel)
imap <C-s> <Action>(ParameterInfo)

" preview
nmap <leader>pi <Action>(QuickImplementations)

" flash
nmap s <Action>(flash.search)

" explorer
nmap <leader>e :NERDTreeFocus<cr>
nmap <leader>E :NERDTreeToggle<cr>

" structure
" map <leader>l <Action>(ActivateStructureToolWindow)

" debug
" map <leader>db <Action>(ToggleLineBreakpoint)

" bookmark
nmap <leader>mm <Action>(ToggleBookmarks)
nmap <leader>mp <Action>(GotoPreviousBookmark)
nmap <leader>mn <Action>(GotoNextBookmark)

" search
nmap <leader>sf <Action>(GotoFile)
nmap <leader><space> <Action>(GotoFile)
nmap <leader>so <Action>(GotoSymbol)
nmap <leader>sg <Action>(FindInPath)

" ui
nmap <leader>ur <Action>(ToggleRenderedDocPresentationForAll)
nmap <leader>uR <Action>(ToggleRenderedDocPresentation)

" run or execute
map <leader>re <Action>(Console.Jdbc.Execute)
" script
map <leader>rs <Action>(Console.Jdbc.Execute.2)
map <leader>rp <Action>(Console.Jdbc.ExplainPlan)

" switcher
nmap <leader>i <Action>(Switcher)
